[2017-01-14 05:33] liuderchi opened #1 "Add prefix to keys should not be translated in settings.cson"
In `settings.cson`, some keys are used as identifier for package execution

where should not be translated. Currently this is explained in [NOTICE #2 in `CONTRIBUTING.md`](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md).

It's better to add prefix on those keys to enhance experience of translation.

  - apply this to all `def/*/settings.cson`
  - require updating [`CONTRIBUTING

[2017-01-14 07:14] liuderchi opened #2 "rename `Settings.themes.*`"
- do not use something like `title1`

[2017-01-14 07:27] #1 closed

[2017-01-15 03:39] Bouzmine opened #5 "Provide a way for plugins to be translated"
I'm really enthusiastic about this plugin, as I've been seeking for a way to translate Atom. The only thing is I don't like having half of the interface translated and I, like most Atom users, use plugins. I don't know if it's possible, but I'd like a way to translate plugins. If it's not possible, please leave this open as a reminder.

It could take the form of `translate/` folder which contains

[2017-01-15 04:41] liuderchi opened #6 "On Change Locale Prompt User to Reload ATOM"
- use built-in `notification` api when locale config is changed

[2017-01-15 05:40] #6 closed

[2017-01-15 05:52] liuderchi opened #8 "On disable package prompt user restart ATOM"
- after deactivate package ATOM should be English
- testing about `reload()` or `restartApplication()`
- use atom Notice api when package is deactivated

[2017-01-15 05:55] liuderchi opened #9 "Don't access content from global `window` object to avoid collision with other package"

[2017-01-15 11:06] #8 closed

[2017-01-15 14:50] liuderchi opened #11 "translate into zh-tw (done)"

[2017-01-17 17:29] liuderchi commented on #5
Apparently this package cannot handle all kinds of package translation.
(in best effort it can translate common areas like *MENU-BAR: Packages > ...*)

[Some suggestion](https://discuss.atom.io/t/state-and-plans-of-atoms-internationalisation-why-is-this-still-not-in-core/23315/9) has been proposed for plugin translation like `.po` object.

So plugin translation currently lacks simple ways to do it

[2017-01-21 02:34] stsewd opened #16 "Non-English characters on template"
The `menu_linux.cson`[1] file on the template folder has some non English characters, and all the others files copied from the template has the same problem.

[1] https://github.com/liuderchi/atom-i18n/blob/master/def/template/menu_linux.cson#L245-L247

[2017-01-21 08:46] stsewd opened #17 "Possible wrong keyword on package.json"
I think [this](https://github.com/liuderchi/atom-i18n/blob/master/package.json#L9) should be [l10n](https://en.wikipedia.org/wiki/Language_localisation).

[2017-01-21 09:12] liuderchi commented on #17
Thanks for pointing out the typo. :+1:

[2017-01-21 09:38] #17 closed

[2017-01-21 10:01] liuderchi commented on #16
Thanks for pointing out this issue @stsewd :100:

[2017-01-21 10:01] #16 closed

[2017-01-23 09:10] liuderchi opened #20 "Keep CSON file consistent of all locales"
Currently not all cson file has same number of key-value pairs.

Thanks to Travis CI service we can automatically validate cson files

- some cson file should update key-value pairs
- for each added key-value pair, we should create new issue of translation

[2017-01-23 15:52] liuderchi opened #22 "translate into Japanese: settings.settings.controls (x3)"
translate `def/ja/settings.cson`

- `title: "Packages With Keymaps Disabled"` at line 134

- `title: "Reopen Project Menu Count"`
`desc: "How many recent projects to show in the Reopen Project menu."` at line 143,144

- `title: "Restore Previous Windows On Start"` at line 148

[2017-01-23 15:55] liuderchi opened #23 "translate into Spanish: settings.settings.controls (x1)"
translate `def/es/settings.cson`

- `html` section under `_id: 'editor-settings-note'`

[2017-01-23 15:58] #20 closed

[2017-01-25 01:33] #23 closed

[2017-01-25 02:51] #11 closed

[2017-01-26 05:37] liuderchi opened #25 "Control Button 'Update to x.x.x' is Translated into 'install'"
on page:
  - Settings > Packages > button: "Update to 1.8.28"
  - Settings > Install > button: "Install"

since buttons on both pages are using same html class, they are both translated into "install".
from tool tip we can know it's original value is different

![pkg-update-to](https://cloud.githubusercontent.com/assets/4994705/22321386/44957ace-e3cf-11e6-9d6e-5f197e8e07af.png)
![screenshot from 2

[2017-01-26 06:03] #25 closed

[2017-01-26 06:20] liuderchi opened #27 "translate "Reopen Project" and "Clear Project History" in menu (x6)"
translate
  - `value: "Reopen Project"`
  - `value: "Clear Project History"`

at `menu_darwin.cson` line43, 46
at `menu_linux.cson` line16, 19
at `menu_win32.cson` line16, 19

locales
  - [x] `ko` (#49)
  - [x] `ja` (#112)
  - [x] `es`(#38)

[2017-01-26 06:37] liuderchi opened #28 "translate Arabic"
files require translation:
  - [ ] `def/ar/context.cson`
  - [ ] `def/ar/menu_darwin.cson`
  - [ ] `def/ar/menu_linux.cson`
  - [ ] `def/ar/menu_win32.cson`
  - [ ] `def/ar/settings.cson`

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-01-26 06:38] liuderchi opened #29 "Translate into German"
files require translation:
  - [x] `def/de/about.cson`
  - [x] `def/de/context.cson`
  - [x] `def/de/menu_darwin.cson`
  - [x] `def/de/menu_linux.cson`
  - [x] `def/de/menu_win32.cson`
  - [x] `def/de/settings.cson`

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

update: solved by #45

[2017-01-26 06:39] liuderchi opened #30 "Translate into French"
files require translation:
  - [x] `def/fr/about.cson` #74
  - [x] `def/fr/context.cson` #74
  - [x] `def/fr/menu_darwin.cson` #74
  - [x] `def/fr/menu_linux.cson` #74
  - [x] `def/fr/menu_win32.cson` #74
  - [x] `def/fr/settings.cson` #74

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-01-26 06:40] liuderchi opened #31 "Translate into Hindi"
files require translation:
  - [x] `def/hi/about.cson`
  - [x] `def/hi/context.cson`
  - [x] `def/hi/menu_darwin.cson`
  - [x] `def/hi/menu_linux.cson`
  - [x] `def/hi/menu_win32.cson`
  - [x] `def/hi/settings.cson`

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-01-26 06:41] liuderchi opened #32 "Translate into Dutch"
files require translation:
  - [ ] `def/nl/context.cson`
  - [ ] `def/nl/menu_darwin.cson`
  - [ ] `def/nl/menu_linux.cson`
  - [ ] `def/nl/menu_win32.cson`
  - [ ] `def/nl/settings.cson`

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-01-26 06:43] liuderchi opened #33 "Translate into Portuguese(Brazil)"
files require translation:
  - [ ] `def/pt-br/context.cson`
  - [ ] `def/pt-br/menu_darwin.cson`
  - [ ] `def/pt-br/menu_linux.cson`
  - [ ] `def/pt-br/menu_win32.cson`
  - [ ] `def/pt-br/settings.cson`

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-01-30 16:23] liuderchi opened #37 "Translate 'About' tab (x11)"
by PR #34 we now have new section *About tab* which can be translated.

file require translation:
  -  `def/MY_LOCALE/about.cson`

locales DONE up to now:
- [x] `es` #38 (x8) #39 (x3)
- [x] `ja`(#112)
- [x] `ko` #49 (x11)
- [x] `zh-cn` #36 (x3)

for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-02-03 08:20] liuderchi commented on #37
gonna remove labels for locales *already with issues*
  - `ar`, `de`, `fr`, `hi`, `nl`, `pt-br`

[2017-02-03 08:50] liuderchi opened #39 ""Group" section in About Tab (win32) is not translated"
For Atom in windows, there is "Group" section in About tab
which has not been translated yet.

[2017-02-09 16:05] liuderchi opened #41 ""System" section in Settings Tab (win32) is not translated"
For Atom in windows, there is "System" section in Settings tab
which has not been translated yet.

- [x] `es` #43
- [x] `ja` #113
- [x] `ko` #49
- [x] `zh-cn` #46
- [x] `zh-tw` #42

[2017-02-09 16:14] liuderchi commented on #37
by #40 we now have more parts to translate

- `es`, `zh-cn`

[2017-02-09 16:20] liuderchi commented on #39
update i18n issue description for `about.cson` #37

[2017-02-09 16:21] #39 closed

[2017-02-11 09:49] liuderchi commented on #41
additional content in cson is prepared and now require translation

[2017-02-14 19:23] firefoxic opened #44 "Translate into Russian"
Файлы, требующие перевода:

- [x]     def/ru/about.cson
- [x]     def/ru/context.cson
- [x]     def/ru/menu_darwin.cson
- [x]     def/ru/menu_linux.cson
- [x]     def/ru/menu_win32.cson
- [x]     def/ru/settings.cson

Для получения дополнительной информации ознакомьтесь с [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-02-15 03:31] liuderchi commented on #44
@firefoxic too bad I cannot speak Russian.
I feel glad that you cares about translation into Russian. :tada:

If you would like to contribute, please read *[Steps to Contribute](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#steps-to-contribute)* and
copy templates for Russian as described in step 5.

[code]

so that you can translate into Russian from English.

[2017-02-15 06:16] firefoxic commented on #44
@liuderchi, this issue I have created for Russian-speakers who wish to join the translation. Therefore, in Russian ;-)

Do I need to send a pull request immediately after copying templates `def/ru` directory  to other translators did not have to do this?

[2017-02-15 07:06] liuderchi commented on #44
@firefoxic that's also welcome. :smile:
BTW it would be great if you help *adding Russian option* in [package config](https://github.com/liuderchi/atom-i18n/blob/master/package.json#L75)

[2017-02-22 03:31] #29 closed

[2017-02-26 02:00] liuderchi opened #47 "New Options in Settings Tab for v1.15 are not translated (x7)"
New UI elements up to Atom v1.15 (currently beta) are added to *settings page*.

New i18n Items are added according to [this commit](https://github.com/liuderchi/atom-i18n/commit/6c876f934b830a3e3e84e8558891b97c78244af8):

`settings.cson`
  - `core.closeDeletedFileTabs` (x2)
  - `desc` of `core.restorePreviousWindowsOnStart` (x1)
  - `core.useProxySettingsWhenCallingApm` (x2)
  - `editor.showCurso

[2017-03-07 02:14] Anonym0uz commented on #44
Wow, i can help with translation into Russian language :)
Now translated 5-6%.
![2017-03-07 5 13 06](https://cloud.githubusercontent.com/assets/12852616/23638800/d208a9fa-02f4-11e7-9a7d-3092449218e6.png)

[2017-03-07 02:32] liuderchi commented on #44
@Anonym0uz Thank you for supporting Russian translation!

It's welcome that you *create a Pull Request first* even you have not finished them.
You don't have to do it all in one step; after all it's a great deal of works. :smiley:

[2017-03-09 18:02] julienth37 commented on #30
Hi,
I can take the translation. You could assign me this issue.

[2017-03-10 03:01] liuderchi commented on #30
@julienth37 Thank you so much for taking this translation!
Looks like I cannot assign you in this issue page.

It's also welcome to create a Pull Request first.
If you come across any problems, feel free to leave comment here. :smile:

[2017-03-12 17:49] jsolisu commented on #33
Working on this.

[2017-03-12 23:38] preco21 commented on #30
@Malivuk You maybe nterested? (my french friend)

[2017-03-13 00:15] stsewd opened #52 "Missing keys on ru locale"
Travis is failing because of new options added on 6d500fc6a09c2fb0dc0600b4f5a25f2d0fbd978a for all locales, except for `ru` locale.

Can we fix this or are we waiting for #50 to be merged?

p.s: Thanks for make me collaborator 😄

[2017-03-13 01:28] liuderchi commented on #33
@jsolisu Thanks for contributing!
I've invited you to join collaborators so that I can assign you to this issue.

[2017-03-13 01:49] liuderchi commented on #52
@stsewd thanks for pointing out
I've merged #50 and I will fix it to pass Travis.

[2017-03-13 01:55] #52 closed

[2017-03-15 04:18] ios122 opened #56 "Support for user-defined CSON translation files"
Recommended to support user-defined CSON translation file recommendations to support user-defined CSON translation file
Commonly used libraries, no longer support the translation, you want to customize the CSON path, the introduction of their own translation files
Of course, now I just change the CSON file, a little bit of gimmick dirty.

建议支持用户自定义CSON翻译文件    建议支持用户自定义CSON翻译文件.

常用的库,不再已经支持的翻译中,想要

[2017-03-15 05:26] liuderchi commented on #56
@ios122 There is no general solution to translate Atom since it's dependent to different UI (e.g. menu, context-menu, settings-page, etc.)

May you explain more about the scenario you think of? Was it about custom package in menu?

[2017-03-15 06:55] laurensbrand opened #57 "Failed to activate the atom-i18n package"
[Enter steps to reproduce:]

1. I believe I followed the instructions "Steps to Contribute" because I would like to contribute for the Dutch language. Did the fork, did the clone and created a branch for 'nl'.
2. Enabled dev mode.

This is all very new to me so please bare with me if I did forget a step. If you could help me get started then I will see to it that there is a Dutch version asap.

**

[2017-03-15 07:31] ios122 commented on #56
Not only on the UI, is on the menu. I was using git-plus package. in atom-i18n, it has no corresponding Chinese translation. I want to use their own translation. Under the promotion, each editor Atom users may have their own preferences may not be necessary to use their own Package. if these are not the widespread use of Package international? All the international document translation, all togeth

[2017-03-15 07:32] laurensbrand commented on #57
I issued the command npm install --save cson in the folder /Users/laurensbrand/.atom/packages which
enabled the node_modules community package.

I then went to the folder /Users/laurensbrand/.atom/packages/node_modules/cson and issued the command apm link which enabled the cson 4.0.0 community package.

But the atom-i18n package still it complains that it can not module cson.

![schermafbeelding 2

[2017-03-15 07:38] laurensbrand commented on #57
Figured it out did the installation of the node modules in the wrong directory. Translating now :-)

[2017-03-15 07:38] #57 closed

[2017-03-15 16:18] liuderchi commented on #57
@laurensbrand Thanks for translating Dutch!
Maybe I can add instruction `npm install` to the guide to make it more complete : )

[2017-03-15 16:21] liuderchi commented on #32
looks like @laurensbrand is working on it from #57

[2017-03-15 18:10] trifirew commented on #56
@ios122 Currently we are concentrating on translation of Atom itself, but not on any packages for now. What I understood from your words is that we should let users do translations for each package they like, and publish them in separate packages. Is that what you would try to do?

我们的翻译目前集中在 Atom 本体上面，目前并没有在做其它package的翻译。你的意思是：应该让用户自己做其他package的翻译，然后为每个翻译发布一个单独的包，是这样子吗？如有误解请见谅 :)

[2017-03-16 02:19] ios122 commented on #56
@trifirew
I mean, should provide a mechanism to open, allowing the Atom or specific Package users in their own computer to customize a variety of menu translation. Similar to the current Atom custom shortcut keys. If not Package developers can also own locally on their computer, define various shortcuts.

我的意思是: 应该提供一种开放的机制,允许Atom或特定Package的使用者,在自己电脑上自定义各种菜单的翻译.类似于现在Atom的自定义快捷键.即使不是Package开发者,也是可以

[2017-03-16 02:35] trifirew commented on #56
@ios122 Understand. In my opinion, it would require all packages to follow a standard about strings inside the packages, so users can change these strings easily. What I've come with is to let package makers put all text inside a `.cson` file. Unfortunately I haven't come up with any detail about how to do it (hope I didn't go to far from the original topic).

明白。我个人认为，要使得用户可以方便地自定义各种菜单的翻译（或是各种文本）

[2017-03-16 08:47] liuderchi commented on #56
应该提供一种开放的机制,允许Atom或特定Package的使用者,在自己电脑上自定义各种菜单的翻译

IMO technically it's possible for this package since the "scope" is limited to "menus".
All we need to do is to grab the menu item and edit it.
Will add this to features, and also PR is welcomed : ].

---

BTW in terms of translating *all content of a 3rd party package*,
currently it's is not supported by this package nor Atom API.
(there's also r

[2017-03-17 14:08] trifirew opened #59 "Conflict with Atom Stylesheet"
Atom stylesheet `styles.less` doesn't work in translated page (i.e. Settings).

## Reproduction

Try to change font of Settings UI with `styles.less`
[code]

#### Original font:
![image](https://cloud.githubusercontent.com/assets/22854142/24046442/eb044778-0af8-11e7-9660-43858ff42963.png)

#### After changing (**without** `atom-i18n` installed)
![image](https://cloud.githubusercontent.com/assets/2

[2017-03-17 15:22] liuderchi commented on #59
@trifirew Which platform are you using (win32/linux/darwin)?

[2017-03-17 15:23] trifirew commented on #59
@liuderchi win32

[2017-03-17 15:27] liuderchi commented on #59
confirmed this behavior results from function call `applyFonts()`
Please hold on and I'll fix it :+1:

[2017-03-18 05:51] #59 closed

[2017-03-18 08:40] chezyann commented on #30
I may help too if you want ? :)

[2017-03-18 08:46] liuderchi commented on #30
currently @julienth37 is assigned to this job.

@julienth37 would you like to have @chezyann join and split this issue into smaller ones?

[2017-03-18 08:58] liuderchi opened #63 "Tranlating 'Available Updates' heading failed in v1.16"
DOM structure of 'Available Updates' heading has changed in v1.16 (currently in beta)

**Requirement**
  - [ ] translate while avoid exception in 1.16-beta while supports old DOM structure in 1.15 (#66)
  - [ ] after 1.16 is stable and several versions, deprecate 1.15 support

[2017-03-19 08:27] liuderchi opened #65 "About page failed to translate some UI item"
according to #64 by @trifirew

1. Currently only `up to date` and `check now` would show up, `checking for updates` would not work for now.
2. When page elements change (i.e. Update status changes from `up to date` to `checking for update`), translation will not show up.

[2017-03-20 03:49] #63 closed

[2017-03-27 13:35] Jeplaa opened #71 "Translate into Polish"
files Required translation:
  - `def/pl/about.cson`
  - `def/pl/context.cson`
  - `def/pl/menu_darwin.cson`
  - `def/pl/menu_linux.cson`
  - `def/pl/menu_win32.cson`
  - `def/pl/settings.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-03-27 13:58] liuderchi commented on #71
@Jeplaa I am so glad that you notice Polish.
It's really welcome to contribute even it's little.

[2017-03-27 14:03] liuderchi commented on #44
- [ ] add [Driglu4it](https://github.com/Driglu4it) to README.md after PRs are merged.

[2017-03-27 21:09] julienth37 commented on #30
@chezyann you're welcome for help !

[2017-03-27 21:29] chezyann commented on #30
@julienth37 Merci beaucoup / Thank you very much :-)

[2017-03-28 14:42] chezyann commented on #30
@julienth37 What file do you want me to begin with ?

[2017-03-28 18:03] julienth37 commented on #30
@chezyann I didn't start yet so I let you pick the one you want !

[2017-03-28 18:31] ziyaddin commented on #57
@liuderchi I have the same issue. I think I have installed node_modules to the currect directory (main directory of the repo).

[2017-03-29 01:57] liuderchi commented on #57
@ziyaddin Does your result of
[code]
look correct?

If the answer is no, please provide your steps starting from *git cloning*, thank you.

[2017-03-29 14:09] ziyaddin commented on #57
@liuderchi yes, it looks correct. Here is the result:
[code]

[2017-03-29 15:47] liuderchi commented on #57
@ziyaddin How did you open Atom? Was it in Dev mode?
( if you are opening Atom in Dev mode, Atom will load packages from `~/.atom/dev/packages/*`
rather than `~/.atom/packages/*` )

Detailed info of reproducing this behavior is welcomed.

[2017-03-29 16:26] swirly commented on #30
Hello everybody. I would gladly translate also. Began to use atom with pupils, most of them having an awful english.

[2017-03-29 16:39] ziyaddin commented on #57
@liuderchi I have been using Atom in non-Dev mode. How can I run it in Dev mode and in the same time load `atom-i18n` package in Dev mode?

[2017-03-29 21:12] chezyann commented on #30
Hi @swirly and thanks for your proposal !
I've already fully translated about.cson, context.cson, menu_darwin.cson, menu_linux.cson and menu_win32.cson. (and welcome.cson)
And I got a 30% translation of settings.cson.

However there might be some translation mistakes since I'm not using every Atom functions ; as a consequence it would be very great if you were OK to review my pull request when it

[2017-03-30 02:12] liuderchi commented on #30
@chezyann it looks like you forgot to fork this repo.

Please follow [#Steps to Contribute](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#steps-to-contribute).
  - NOTE: step no.2 of the guide: *fork* this repo means clicking button "fork" in [upper right ](https://help.github.com/articles/fork-a-repo/#fork-an-example-repository) so that you own a "copy" of this repo in order

[2017-03-30 02:26] liuderchi commented on #57
`apm link -d` links to `~/.atom/dev/packages/*` which is for dev mode

@ziyaddin it's fine to run in non-Dev mode. I was just trying to eliminate some possible errors.

Would you like to remove all related folders (directory link, cloned repo)
and restart from git clone of latest commits of this repo?

[2017-03-30 12:34] #44 closed

[2017-03-31 14:18] chezyann commented on #30
@julienth37 and @swirly > Would you review my humble translation ?
[Right there](https://github.com/liuderchi/atom-i18n/pull/74)

[2017-03-31 14:40] liuderchi commented on #30
Thank you @chezyann :100:
Quick Tip: you can type `#ISSUE_NUMBER` to reference issue or pull request as shortcut.

[2017-03-31 16:17] liuderchi commented on #71
NOTE for myself:
- [ ] add locale `pl` in `validation.js` after this PR is merged

[2017-04-06 09:21] liuderchi opened #75 "Missing button "Check for Updates", "Update All" in Settings > Available Updates in v1.15"
Missing button "Check for Updates", "Update All"
in page: *Settings* > *Available Updates* in v1.15

NOTE
  - This is a side effect of PR #66 since those buttons are pseudo elements `:before` in v1.15.
      - which are accidentally eliminated when setting `textContent` of the DOM node.

[2017-04-07 13:30] ziyaddin commented on #57
@liuderchi I did all instructions again. Still the same result.

[2017-04-07 14:06] liuderchi commented on #57
@ziyaddin did you try install it inside atom?

also please provide your atom version via `atom -v` or `atom-beta -v`

[2017-04-07 14:18] ziyaddin commented on #57
@liuderchi `atom -v` returns `1.4.0`

[2017-04-07 14:24] ziyaddin commented on #57
I tried installing it inside atom, but the same result.

[2017-04-07 14:25] liuderchi commented on #75
- [ ] revert changes of PR #76 when v1.15 is no longer supported in the future

[2017-04-07 14:33] ziyaddin commented on #57
@liuderchi now I solved the problem. The problem was the version which I was using. Updated to `1.15.0`.

Thanks for help!

[2017-04-07 14:49] ziyaddin opened #78 "Translate into Azerbaijani"
Files require translation:
  - [ ] `def/az/about.cson`
  - [ ] `def/az/context.cson`
  - [ ] `def/az/menu_darwin.cson`
  - [ ] `def/az/menu_linux.cson`
  - [ ] `def/az/menu_win32.cson`
  - [ ] `def/az/settings.cson`

For more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2017-04-07 14:52] ziyaddin commented on #78
@liuderchi I can help with translation.

[2017-04-07 15:06] liuderchi commented on #57
@ziyaddin Thanks for your help.
I would update Atom version requirement in `package.json` to be `v1.15.0`

[2017-04-07 15:24] liuderchi commented on #78
@ziyaddin Thank you so much!

I updated `master` one hour ago with tiny changes to `*.cson`,
so please update `master` before copying `def/template` to `def/az`

[2017-04-07 15:30] liuderchi commented on #78
@ziyaddin What's best way to describe Azerbaijani in Azerbaijani?
I found some options [here](http://www.omniglot.com/writing/azeri.htm).

[2017-04-07 15:37] ziyaddin commented on #78
@liuderchi The correct way of

- `Azerbaijani language` is `Azərbaycan dili`
- `Azerbaijani` is `Azərbaycanca`

[2017-04-21 18:58] ghost opened #80 "Uncaught TypeError: Cannot set property 'innerHTML' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Linux Mint
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.8.0

### Stack Trace

Uncaught TypeError: Cannot set property 'innerHTML' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-04-22 16:46] liuderchi commented on #80
@clsalberto thanks for pointing out this issue :+1:

Please help with the following questions to reproduce this behavior.
1. How often does this happen?
2. What's your locale setting?
3. Did you check the option *Show Welcome Guide when opening Atom* in welcome page ?

[2017-05-01 21:32] alex94puchades opened #81 "Translate into Esperanto"
Please help translate: .

locale code: `eo`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/eo/about.cson`
  - `def/eo/context.cson`
  - `def/eo/menu_darwin.cson`
  - `def/eo/menu_linux.cson`
  - `def/eo/menu_win32.cson`
  - `def/eo/settings.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/ma

[2017-05-02 08:45] #71 closed

[2017-05-12 02:23] bunhann opened #82 "Want Khmer Locale"
Please help translate: .

locale code: `km`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/km/about.cson`
  - `def/km/context.cson`
  - `def/km/menu_darwin.cson`
  - `def/km/menu_linux.cson`
  - `def/km/menu_win32.cson`
  - `def/km/settings.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/ma

[2017-05-24 17:08] bikalab opened #83 "tr"
Please help translate: .

locale code: `tr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/tr/about.cson`
  - `def/tr/context.cson`
  - `def/tr/menu_darwin.cson`
  - `def/tr/menu_linux.cson`
  - `def/tr/menu_win32.cson`
  - `def/tr/settings.cson`
  - `def/tr/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2017-05-29 04:49] liuderchi commented on #56
Now it supports custom cson file to translate the menu in latest v0.9.0
It's really welcome to send me any feedback about this feature.

[2017-05-29 04:53] #30 closed

[2017-06-07 06:56] #75 closed

[2017-06-08 14:58] Vivalzar opened #86 "Rogue File>Reopen Project item in menu"
When using this package, an additional untranslated item appear at the right of the Help menu. This item is a duplicate of the element Reopen Project in the File menu. The translated item is still displayed in the translated File menu.

It appears in every language, once Atom has been reloaded.

If the package is disabled, the item does not appear anymore.

This rogue item should never be displaye

[2017-06-09 04:33] liuderchi commented on #86
repro confirmed.

  - [x] workaround discovered: delayed translation on menu item
  - [ ] more solid solution

[2017-07-04 13:51] nolt opened #90 "Translate into Polish"
Please help translate: Polish.

locale code: `pl`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/pl/about.cson`
  - `def/pl/context.cson`
  - `def/pl/menu_darwin.cson`
  - `def/pl/menu_linux.cson`
  - `def/pl/menu_win32.cson`
  - `def/pl/settings.cson`
  - `def/pl/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github

[2017-07-05 12:54] nolt opened #91 "Cant preview development package"
Hi,

I cant preview mine development translation. I've follow the guide "How to Preview Your Translation in Development?" but while I link mine fork folder with repository and reload Atom. I don't see mine lanugage in atom-i18n settings.
![zrzut ekranu z 2017-07-05 14-48-40](https://user-images.githubusercontent.com/6367933/27865161-c8319fee-6191-11e7-95b4-98510a701202.png)

[2017-07-05 13:11] liuderchi commented on #91
@nolt I missed one important step in [step 5.](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#steps-to-contribute)
Please insert following 4-line code to [here in package.json](https://github.com/liuderchi/atom-i18n/blob/master/package.json#L74):

[code]

[2017-07-05 13:35] nolt commented on #91
Thanks, now everything works well.

[2017-07-05 13:35] #91 closed

[2017-07-07 02:32] liuderchi commented on #90
Thanks for contributing 🎉

TODOS reminder after PR merged
  - [ ] update progress, add contributor to README.md
  - [ ] update pl in validation.js
  - [ ] update CHANGELOG.md

[2017-07-15 19:38] francematt opened #93 "I'm translating into Italian"
Please help translate: .

locale code: `it`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/it/about.cson`
  - `def/it/context.cson`
  - `def/it/menu_darwin.cson`
  - `def/it/menu_linux.cson`
  - `def/it/menu_win32.cson`
  - `def/it/settings.cson`
  - `def/it/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2017-07-16 06:35] liuderchi commented on #93
@francematt thank you for translating Italian 🎉

[2017-07-21 12:52] rogi27 opened #97 "Settings tab resets the language after being reopen"
After the '**Settings**' tab being reopen it just resets the language back to **English**.
_I'm using a Russian translation for Atom._

Looks like this bug only in Settings tab, because other tabs working fine and didn't reset the lang. Menu items shown on English but title still being on Russian.

[2017-07-21 17:32] liuderchi commented on #97
@sdir01 when it occurred, how did other UI look like?
For example, did Menu Item shown English (or Russian)?

[2017-07-21 22:51] sdir01 commented on #97
@liuderchi Looks like this bug only in Settings tab, because other tabs working fine and didn't reset the lang. Menu items shown on English but title still being on Russian.

[2017-07-22 07:37] liuderchi commented on #97
I can not reproduce this behavior, but I did sometimes encounter it.
I will keep an eye on this issue and hopefully I can find the root cause.

[2017-07-24 17:38] Vivalzar commented on #97
Yes, same thing for me. It happens from time to time but I can't reliably reproduce it.

[2017-07-29 19:02] sitdh opened #98 "Translate to Thai"
Please help translate: .

locale code: `th`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/th/about.cson`
  - `def/th/context.cson`
  - `def/th/menu_darwin.cson`
  - `def/th/menu_linux.cson`
  - `def/th/menu_win32.cson`
  - `def/th/settings.cson`
  - `def/th/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2017-07-30 04:16] sitdh commented on #80
I found this error too,

1. Always when I open apps
2. TH
3. Yes

**Error trace below**

[Enter steps to reproduce:]

1. With default Atom setting, Install the package _[Show Welcome Guide checked]_
1. Open Atom, Error window will display
1. Click another tab, Another error window display again

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.5
**Thrown From**: [atom-i18n](https:/

[2017-07-30 08:11] liuderchi commented on #98
@sitdh if you encounter any problems while translating
or want to leave any feedback to [CONTRIBUTING.md](github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)
, please let me know 🎉

[2017-08-28 05:26] wingsofovnia opened #101 "Translate to Ukrainian"
Please help translate:

locale code: `uk `

files Required translation:
- [ ] `def/uk/about.cson`
- [ ] `def/uk/context.cson`
- [ ] `def/uk/menu_darwin.cson`
- [ ] `def/uk/menu_linux.cson`
- [ ] `def/uk/menu_win32.cson`
- [ ] `def/uk/settings.cson`
- [ ] `def/uk/welcome.cson`

Take one and let others know which file you'll care of.

[2017-08-28 06:50] liuderchi commented on #101
@wingsofovnia Thanks for your contribution and kindly provide *Ukrainian in Ukrainian.*
I also add *WIP* label to make it clear that you will start to translate.

[2017-08-28 07:27] wingsofovnia commented on #101
@liuderchi Thank you for a prompt reply.
Ukrainian in Ukrainian is "_Українська_" but I want to make you aware that I'm personally will translate into older 1927 Ukrainian, it's "_Українська (скрипниківка)_". It's still perfectly understandable by all Ukrainian speakers, but it's the version of Ukranian orthography I'm most comfortable with.

[2017-08-28 07:49] wingsofovnia commented on #80
I'm experiencing the same error for the `template` translation.

[2017-08-28 08:37] liuderchi commented on #80
@wingsofovnia is it happening with just opened *Welcome* tab opened by Atom?

It would be nice if you may provide error message or additional info to help me reproduce it.

[2017-08-28 08:45] liuderchi commented on #101
@wingsofovnia It's fantastic 💯
So nice to have more accurate language code and more popular translation for native speaker.

NOTE for myself:
  - [ ] use `uk-sk` : `Українська (скрипниківка)` as config option title in `package.json`

[2017-08-29 08:00] kit777 commented on #101
Переклав menu_win32.cson.

[2017-08-30 09:27] rsemfreelancer commented on #101
Я перекладаю (якщо вдасться, бо це перший раз) welcome.cson

[2017-09-06 15:59] uzielweb commented on #80
Same error for me. My Atom is the latest version.

[2017-11-10 02:31] #27 closed

[2017-11-10 02:33] #37 closed

[2017-11-13 14:35] liuderchi commented on #22
closed by #113.

[2017-11-13 14:35] #22 closed

[2017-11-13 14:36] liuderchi commented on #41
closed by #113.

[2017-11-13 14:36] #41 closed

[2017-11-19 06:14] dominicus-75 opened #114 "Hungarian translation"
Please help translate: .

locale code: `hu`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/hu/about.cson`
  - `def/hu/context.cson`
  - `def/hu/menu_darwin.cson`
  - `def/hu/menu_linux.cson`
  - `def/hu/menu_win32.cson`
  - `def/hu/settings.cson`
  - `def/hu/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2017-11-24 22:02] lucasgdutra opened #120 "Translate into Portuguese(Brazil)"
Please help translate: .

locale code: `Portuguese(Brazil)`
[pt-br](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/pt-br/about.cson`
  - `def/pt-br/context.cson`
  - `def/pt-br/menu_darwin.cson`
  - `def/pt-br/menu_linux.cson`
  - `def/pt-br/menu_win32.cson`
  - `def/pt-br/settings.cson`
  - `def/pt-br/welcome.cson`

* for more info please checkout [CONTRIBUTING

[2017-11-24 22:05] #120 closed

[2017-11-28 07:59] shr3kull opened #121 "Catalan translation"
Please help translate: Catalan.

locale code: `ca`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ca/about.cson`
  - `def/ca/context.cson`
  - `def/ca/menu_darwin.cson`
  - `def/ca/menu_linux.cson`
  - `def/ca/menu_win32.cson`
  - `def/ca/settings.cson`
  - `def/ca/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://githu

[2017-12-18 11:21] ujdhesa opened #122 "Contributing a sq translation for Atom"
Please help translate: .

locale code: `sq`

files Required translation:
  - `def/sq/about.cson`
  - `def/sq/context.cson`
  - `def/sq/menu_darwin.cson`
  - `def/sq/menu_linux.cson`
  - `def/sq/menu_win32.cson`
  - `def/sq/settings.cson`
  - `def/sq/welcome.cson`

[2017-12-29 02:23] samiel60 commented on #80
In a fresh installation on Debian Testing, today, I received the same error
ms

[2017-12-29 02:34] samiel60 commented on #80
If it's relevant, I set Italian language. The same in LinuxMint, just now. Backtrace is:
=========================================================================
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Linux Mint
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.13.0

### Stack Trace

Uncaught TypeError: Cannot set

[2017-12-30 16:45] samiel60 commented on #80
I tried other languages, as Franch. All goes. The error appears only if I select Italian as language for Atom

[2017-12-31 11:58] liuderchi commented on #80
@samiel60 thanks for your investigation. I'm working on fixing it

[2017-12-31 22:19] samiel60 commented on #80
is the correct version now available? for I download again the file, installed the l18n package, but I receive the same error...

[2018-01-01 02:50] liuderchi commented on #80
@samiel60 I just published a patch release v0.13.1
please upgrade and try it again.

[2018-01-01 12:41] samiel60 commented on #80
I downloaded l18n 31.1, but I receive the same error :(

[2018-01-01 15:55] liuderchi commented on #80
@samiel60 would you please provide the error message?

[2018-01-01 18:33] samiel60 commented on #80
I downloaded again and reinstall cleanly atom. I addes the nwe language pack and tried to set Atom in Italian. After reload:
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Debian GNU/Linux
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.13.1

### Stack Trace

Uncaught TypeError: Cannot set property 'innerHTML' of null

[

[2018-01-02 05:05] liuderchi commented on #80
@samiel60 thanks for your help 🙏
Please download latest patch version v0.13.2 and try it again.

[2018-01-02 11:51] samiel60 opened #129 "Uncaught TypeError: Cannot set property 'textContent' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Debian GNU/Linux
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.13.2

### Stack Trace

Uncaught TypeError: Cannot set property 'textContent' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-01-02 11:52] samiel60 commented on #129
I'm sorry, still not working:

[code]
At /home/samiel/.atom/packages/atom-i18n/lib/welcome.js:47

TypeError: Cannot set property 'textContent' of null
    at Function.updateWelcome (/packages/atom-i18n/lib/welcome.js:47:50)
    at setTimeout (/packages/atom-i18n/lib/welcome.js:59:38)
[code]
[code]
atom-i18n 0.13.2
[code]

[2018-01-02 15:05] samiel60 commented on #80
Yet not working :(
`[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Debian GNU/Linux
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.13.2

### Stack Trace

Uncaught TypeError: Cannot set property 'textContent' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

`

[2018-01-02 15:17] liuderchi commented on #129
@samiel60 it's fine 👍 and thanks for taking care of this issue.

This is actually a follow up bug after #80
Will fix it right away 😄

[2018-01-02 15:19] samiel60 commented on #129
On martedì 2 gennaio 2018 15:17:44 CET Te-Chi Liu wrote:

thanx to u for working to solve this bug!

ms

[2018-01-02 15:26] #129 closed

[2018-01-02 15:28] liuderchi commented on #129
@samiel60 please install latest patch `v0.13.3` and try it again 💻

[2018-01-02 15:39] samiel60 commented on #129
On martedì 2 gennaio 2018 07:28:51 CET Te-Chi Liu wrote:

now working!!
thanx a lot!

PS
do u think will it be possible to translate
not only the menu, but all the texts of application?
I can help u if u need someone working...

[2018-01-02 17:09] #80 closed

[2018-01-02 17:22] liuderchi commented on #129
Considering Atom's architecture, it's a *huge challenge* 😓  to translate them all
since quite much content is hard coded in English and dynamic. (see #5 for more info)

But for some part it's technically possible,
like the style guide and right part of the welcome message.
You are welcomed to suggest by [creating an issue][newissue] if you found some part of it interesting. 👍

[newissue]: https://

[2018-01-05 07:31] atefBB commented on #28
@liuderchi I'll check them when I have some time!

[2018-01-11 17:46] pymike00 commented on #93
Hi there guys! Thanks for the amazing job you've done.

The translation is good, but I've found some issues that I think are worth notifying.

#################
a)
"Toggle" has been translated as "commuta", so that:

"toggle comments" has become "commuta commenti"
"toggle fullscreen" has become "commuta fullscreen"
"toggle menu bar" ==> "commuta barra dei menu"
(... and so on ...)

I think that tr

[2018-01-12 03:26] liuderchi commented on #93
@pymike00 thanks for your work 👍

What do you think @francematt @LorenzoAncora ? ([CODEOWNER of it](https://github.com/liuderchi/atom-i18n/blob/master/.github/CODEOWNERS#L19))
Please help and provide your opinion. 🙏

---

Contribution is really _Welcome_. Please visit [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md) for more info and ask me anything about it 😄

[2018-01-12 03:37] liuderchi opened #131 "Try NOT using Braces to preserve hotkey hint in menu translation"
After discussion in #93 found that

Possible changes involved:
  - a big cleanup in `def/*/menu_linux.cson` `def/*/menu_win32.cson`
  - update policy in [no.3 in translation guide](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#translation-guide)

[2018-01-12 03:40] liuderchi commented on #121
@3bernat thanks for creating this new issue 👍
Feel free to ask me if you have questions about contribution.

[2018-01-12 07:07] azumukupoe opened #132 "Add def/ja"
Please help translate: .

locale code: `ja`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ja/about.cson`
  - `def/ja/context.cson`
  - `def/ja/menu_darwin.cson`
  - `def/ja/menu_linux.cson`
  - `def/ja/menu_win32.cson`
  - `def/ja/settings.cson`
  - `def/ja/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2018-01-12 07:09] #132 closed

[2018-01-12 10:21] pymike00 commented on #93
Hey there, thanks for your reply and to have considered my idea.

I was pretty tired yesterday when I wrote the post, after a long day of work I have myself made some mistakes while reporting:

Incorrect: they all work. My bad -.-" sorry about that.

It seems like this string is not inside any of the files that have been translated by the guys, so it is **not** something that has been forgotten. I

[2018-01-12 13:04] LorenzoAncora commented on #93
Hello @pymike00 @liuderchi and thank you for your support.
@pymike00 your doubts are legitimate, but in the commit message I briefly explained the reason for these particular choices.

This requires a detailed explanation, because there are many reasons for this choice. ENG\ITA dictionaries do not always offer a proper translation, they only give an example of a probable translation: Italian canno

[2018-01-12 21:51] pymike00 commented on #93
Hey there @LorenzoAncora!

Ok perfect, I had missed the commit message so I didn't know it was intentional :)
Yes, doubts have been clarified!

Thanks for your precious work guys!

Have a good one! :)

[2018-01-13 11:39] liuderchi commented on #93
@francematt @LorenzoAncora @pymike00 atom-i18n won't be better without your work. 💯
I will close this issue if everything is clarified : ]

[2018-01-13 19:44] pymike00 commented on #93
Sure, it's fine by me! :D

[2018-01-13 22:15] LorenzoAncora commented on #93
@liuderchi fine for me too. &#10003; &#10003; &#10003;

[2018-01-14 07:31] #93 closed

[2018-01-30 12:15] yesther10 opened #145 "Failed to load the atom-i18n package"
[Enter steps to reproduce below:]

1. buscar el paquete atom.i18n
2. instalar el paquete.
3. mostro el siguiente error
/home/yguerra/.atom/packages/atom-i18n/lib/main.js:11
class I18N {
^^^^^
Unexpected reserved word
Hide Stack Trace
/home/yguerra/.atom/packages/atom-i18n/lib/main.js:11
class I18N {
^^^^^
SyntaxError: Unexpected reserved word
  at exports.runInThisContext (vm.js:75:16)
  at Module

[2018-01-30 15:33] liuderchi commented on #145
@yesther10 what's your atom version?

[2018-02-08 00:27] kckbck88 commented on #97
Same bug for me too. Nothing new about it?

[2018-02-08 02:31] liuderchi commented on #97
@kckbck88 nothing new about it except some little observation.

Last year I switch my atom theme to [atom-material](https://atom.io/users/atom-material) (both ui and syntax) found it produced obvious overhead when showing settings tab.
And sometimes the content in settings tab would disappear for a while.

Perhaps some atom theme may have race condition with atom-i18n.

@kckbck88 What is your atom

[2018-02-08 04:04] kckbck88 commented on #97
@liuderchi I use Arch Linux, I tried with i3 and with xfce4.
My atom version is 1.23.3, I tried with Atom Dark (ui & synthax) and One Dark (ui & synthax).
In each case it does the bug.

[2018-02-10 14:48] Tipigao commented on #33
I want to contribute to translate to Brazilian Portuguese, where can I start?

[2018-02-12 02:09] Apsimati opened #146 "Turkish"
Please help translate: .

locale code: `tr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2018-02-12 02:12] Apsimati opened #147 "Turkish Language Folder"
Please help translate: Turkish.

locale code: `tr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`

[2018-02-12 02:13] Apsimati commented on #147
If you add tr folder I can translate it

[2018-02-12 05:58] #146 closed

[2018-02-13 05:31] liuderchi commented on #147
@Apsimati Thanks for taking care of Turkish translation 👍

Please follow issue #83 for more information.
If you find any difficulties with contributing please let me know.

Will close this duplicated issue.

[2018-02-13 05:31] #147 closed

[2018-02-27 02:54] liuderchi opened #149 "Reorganize Badges in README and Reorganize CI services"

[2018-02-28 12:33] an7oine opened #151 "Finnish"
Please help translate: .

locale code: `fi`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/fi/about.cson`
  - `def/fi/context.cson`
  - `def/fi/menu_darwin.cson`
  - `def/fi/menu_linux.cson`
  - `def/fi/menu_win32.cson`
  - `def/fi/settings.cson`
  - `def/fi/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2018-02-28 16:39] liuderchi commented on #151
@an7oine thanks for creating this issue!
Please feel free to ask anything about joining translation 🎉

[2018-03-02 16:22] kisrefod opened #153 "Russian"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2018-03-07 10:37] liuderchi commented on #151
NOTE: TODO for myself

- [ ] add @an7oine to CODEOWNER, contributor list in README.md
- [ ] not preserve bracket in template as defaults
- [ ] prepare v0.14.0 release

[2018-03-08 15:18] nolt opened #156 "No checkbox at welcome screen"
I've noticed that when I switch to translated layout, check box at welcome screen is missing. Check box is used to disable welcome screen on startup. Screen attached.

![zrzut ekranu z 2018-03-08 16-02-29](https://user-images.githubusercontent.com/6367933/37158849-aaba2892-22ec-11e8-9645-d12971404bb4.png)

[2018-03-08 16:33] liuderchi commented on #151
@an7oine Finnish translation has been shipped in [v0.14.0](https://atom.io/packages/atom-i18n) 🎉

[2018-03-09 12:16] LorenzoAncora commented on #156
Hello @nolt, this is a bug of `atom-i18n`.
To manually disable the welcome screen for all languages, append:

`welcome:`
&nbsp;&nbsp;&nbsp;&nbsp;`showOnStartup: false`

...to `~/.atom/config.cson`.

[2018-03-09 14:23] nolt commented on #156
Yes I know, but still it's a manual resolve. Someone who will run Atom first time can disable it on default translation so bug is not visible anymore but still exist.

[2018-03-09 14:28] nolt opened #157 "Half transladed menu on right click"
Bug present when I right click on tree list, translation looks like it is half completed.
I tried to search in translation or template but didn' found anything releaded to this menu.

I use Atom on Linux (Ubuntu 17.10), don't know if bug is present on Windows, maybe can someone test it on his translation?
Image attached
![zrzut ekranu z 2018-03-09 15-21-06](https://user-images.githubusercontent.co

[2018-03-09 15:04] LorenzoAncora commented on #156
Hello @nolt, I agree: I do not like manual solutions in GUI apps, too.
Since @liuderchi inserted the 'help wanted' tag I've just written and submitted a little patch (patch #158) to resolve the bug. ;-)

[2018-03-09 20:04] nolt commented on #156
Hi @LorenzoAncora thanks for the quick fix :)

[2018-03-09 22:42] Umoxfo opened #161 "Update Japanese Translate"
files Required translation:
  - `def/ja/menu_darwin.cson`
  - `def/ja/menu_linux.cson`
  - `def/ja/menu_win32.cson`
  - `def/template/menu_darwin.cson`
  - `def/template/menu_linux.cson`
  - `def/template/menu_win32.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

Based on Atom v1.24

[2018-03-10 18:20] Umoxfo commented on #157
A `selector` definition of the tree-view context menu is different from the original.
[https://github.com/atom/tree-view/blob/master/menus/tree-view.cson](https://github.com/atom/tree-view/blob/master/menus/tree-view.cson)

[2018-03-11 11:59] liuderchi commented on #156
@nolt @LorenzoAncora Thanks for your great help. 💯
Will release a patch for bug fixes recently.

[2018-03-11 11:59] #156 closed

[2018-03-11 12:06] LorenzoAncora commented on #156
@nolt merging was a bit cumbersome due to the various GitHub branches, but now the bugfix has been inserted directly into the main branch. Wait for the update (recommended) or clone the sources.
If you find other problems do not hesitate to report them.

@nolt @liuderchi see you next time. :-)

[2018-03-12 06:39] liuderchi commented on #161
TODO for myself:

  - update js i18n progress in README
  - add contributor to list in README, CODEOWNERS

[2018-03-12 17:14] liuderchi commented on #90
TODO reminder after PR merged

- update progress in `README.md`

[2018-03-21 23:49] #157 closed

[2018-03-23 04:33] jcze9 opened #166 "Uncaught TypeError: Cannot read property 'childNodes' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.25.0 x64
**Electron**: 1.7.11
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.14.0

### Stack Trace

Uncaught TypeError: Cannot read property 'childNodes' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-03-26 03:37] liuderchi commented on #166
@jcze9 thanks for reporting 🙇
Starting finding the root causes...

[2018-03-27 06:38] liuderchi commented on #90
Progress is updated in `README.md` so will close this issue

[2018-03-27 06:38] #90 closed

[2018-03-27 06:43] #151 closed

[2018-04-04 13:07] Elia0107 opened #170 "Italian Language remove (&*) from menu"
Hi, please remove (&*) from Italian menu bar (Windows and Linux), or make it optional. It's ugly to see. If you want I have already made it.

[2018-04-04 19:09] LorenzoAncora commented on #170
Hello @Elia0107,
**there is no "(&*)" visible in the Italian menu bar**. To the right of some items you may see brackets with **a single letter**, which indicates the default key combination, to make interaction easier without using a mouse. They may not be nice to see but are **necessary** for users who use different editors and can not always keep in mind all the fast keys or when the user start

[2018-04-05 00:16] liuderchi commented on #170
@Elia0107 there are actually room for improvement of those menu items.

It's recorded in #131. We can try preserve hotken prompt in the word if possible.

---

@LorenzoAncora thanks for your information

For more info you may visit https://github.com/liuderchi/atom-i18n/issues/93#issuecomment-357133232

[2018-04-05 16:35] LorenzoAncora commented on #170
@liuderchi you are welcome. :-)

Perhaps you might like a small _suggestion_ to address the problem.
Hotkeys are indispensable for power-users (who are the main Atom users), but I know for sure that - at least on Microsoft<sup>&reg;</sup> Windows - menus natively support hotkey underlining, to avoid repetitions and improve appearance. From old experiences with Visual Studio<sup>&copy;</sup>, I can

[2018-05-01 15:41] rclenzi commented on #33
Hi, I had translated the files def/pt-br/menu_darwin.cson def/pt-br/menu_linux.cson, how i can sent to you?

[2018-05-01 16:08] liuderchi commented on #33
@rclenzi Thanks for your contribution 👍

In short it takes 5 steps to merge translation:
  1. fork this repo then clone it
  2. commit your translation locally
  3. push those commits
  4. create _Pull Request_ so that I can review it
  5. Merge (it's my job)

Please follow those [steps in details in CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#steps-to-contr

[2018-05-15 02:06] kayasukru opened #175 "Turkish translate"
Please help translate: .

locale code: `tr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2018-05-15 06:54] liuderchi commented on #175
@kayasukru Thanks for following Turkish translation 👍
For more info please refer to #83

[2018-05-15 06:55] liuderchi commented on #175
Will close this duplicate issue

[2018-05-15 06:55] #175 closed

[2018-05-16 01:09] kayasukru opened #176 "Translate into Turkish"
Please help translate: .

locale code: `tr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/tr/about.cson`
  - `def/tr/context.cson`
  - `def/tr/menu_darwin.cson`
  - `def/tr/menu_linux.cson`
  - `def/tr/menu_win32.cson`
  - `def/tr/settings.cson`
  - `def/tr/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2018-05-26 02:38] lorenzadam opened #177 "I want to translate into Indonesian"
Please help translate: .

locale code: `id ind`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  -

[2018-05-26 21:17] antikruk opened #178 "Belarusian translation"
Hi, add, please, Belarusian translation
[Belarusian.zip](https://github.com/liuderchi/atom-i18n/files/2041963/Belarusian.zip)

[2018-05-27 10:36] liuderchi commented on #177
@lorenzadam thanks for creating this issue!
Please feel free to ask me anything about contribution.

[2018-05-27 10:39] liuderchi commented on #178
@antikruk Would you like to create pull request follow [contribution guide](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)?
Only with that can we add your contribution into the commit history

[2018-05-27 11:35] antikruk commented on #178
Ok

[2018-05-27 11:35] #178 closed

[2018-05-29 20:22] antikruk opened #180 "Element duplicate"
Hi, help me, please. In the Belarusian translation the element is duplicated
![2018-05-29_23-14-07](https://user-images.githubusercontent.com/6292989/40683161-598e1da8-6396-11e8-84ae-a9079e67db49.png)

[2018-05-29 20:53] antikruk commented on #180
There are no rows in the file menu_linux.cson :
- Paste without reformatting
- Toogle Git Tab
- Toogle GitHub Tab
- View Unstaged Changes
- View Staged Changes
- Select to Next Bookmark
- Select to Previous Bookmark
In settings:
- Use Tree Siter Parsers with description
-Url Handling Tab

[2018-05-31 12:43] liuderchi commented on #180
@antikruk First comment has been issued in #86. It's been patched with workaround.
More solid solution is wanting.

---

Do you mean some menu items is not translated?
If so, this package require an update once this menu item is from Atom Official Package.

[2018-05-31 13:01] antikruk commented on #180
More solid solution is wanting.

Ok

[2018-05-31 13:18] antikruk commented on #180
If so, this package require an update once this menu item is from Atom Official Package.

It is really welcomed to discuss it in another new issue.
Yes, exactly. Create it here or in Atom repo?

[2018-05-31 18:22] liuderchi commented on #180
@antikruk create it here.

[2018-05-31 18:32] #180 closed

[2018-05-31 18:42] antikruk opened #182 "Menu items not translated in Linux version"
This menu items not translated:

- Paste without reformatting
- Toogle Git Tab
- Toogle GitHub Tab
- View Unstaged Changes
- View Staged Changes
- Select to Next Bookmark
- Select to Previous Bookmark
- Use Tree Siter Parsers with description
- Url Handling Tab in preferences

Maybe I missed something

[2018-06-01 03:14] liuderchi commented on #182
@antikruk really thanks for your information 🙇

Please help with confirm these in your environment:

- What is your Atom version?
- 💡 for contents in _Settings Page_ (`Use Tree Siter Parsers...`, `Url Handling...`) we may do it apart from menu item tranlsation
- Please do checking on the listed items:
  1. in terminal `$ atom --safe` create an _clean atom workspace without community packages_
  2.

[2018-06-19 15:06] polynoman commented on #47
#47 and #100 seem to complete the issue, can it become closed?

[2018-06-19 16:21] liuderchi commented on #47
@polynoman thanks for your hard work 🙏
Will close this after #100 is merged

[2018-06-20 06:12] #47 closed

[2018-07-16 20:57] antikruk commented on #182
- version 1.28
-Ok
- Yes, items are confirmed.

[2018-08-01 00:42] liuderchi commented on #176
Will close it since it's duplicate

[2018-08-01 00:42] #176 closed

[2018-08-02 10:54] Heroyt opened #188 "I can help translate into Czech"
Please help translate: czech

locale code: `cz`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/cz/about.cson`
  - `def/cz/context.cson`
  - `def/cz/menu_darwin.cson`
  - `def/cz/menu_linux.cson`
  - `def/cz/menu_win32.cson`
  - `def/cz/settings.cson`
  - `def/cz/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.c

[2018-08-02 13:31] liuderchi commented on #188
@Heroyt thanks for your feedback to make atom-i18n better 💯

[2018-08-15 17:48] Mumaria opened #192 "kann die deutsche Sprache nicht einstellen. Wie geht den das? Habe doch die deutsche Version runtergeladen. Ich möchte das vor jedem Programm die Sprache eingestellt werden soll."
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2018-08-15 19:55] Diamantinomc opened #193 "Uncaught TypeError: itemSet.items is not iterable"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.29.0 x64
**Electron**: 2.0.5
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.16.0

### Stack Trace

Uncaught TypeError: itemSet.items is not iterable

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-08-16 06:11] liuderchi commented on #193
@Diamantinomc thanks for the report 🙇

Please help provide some debug message:

- run command `window: Toggle Dev Tools`
- in dev tools console tab, paste following code, would result be `true` ?

[code]

[2018-08-28 20:53] admin-lm opened #196 "Uncaught TypeError: Cannot read property 'offsetParent' of null"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.30.0 x64
**Electron**: 2.0.5
**OS**: Mac OS X 10.14
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.16.0

### Stack Trace

Uncaught TypeError: Cannot read property 'offsetParent' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-10-07 02:46] letolo opened #197 "ru"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2018-11-03 14:40] lingruby-pl commented on #196
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.32.0 x64
**Electron**: 2.0.12
**OS**: "Arch Linux"
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.16.0

### Stack Trace

Uncaught TypeError: Cannot read property 'offsetParent' of null

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-11-12 16:00] thiagomneves commented on #33
What's still missing?

[2018-11-19 11:31] Henry2o1o opened #201 "At the first launch"
![image](https://user-images.githubusercontent.com/6131799/48704367-9d662780-ebf6-11e8-84a4-321de9ad8969.png)

[2018-11-19 11:32] Henry2o1o commented on #192
![image](https://user-images.githubusercontent.com/6131799/48704528-1f565080-ebf7-11e8-9ea5-e11577f02ed5.png)

[2018-12-19 15:49] LorenzoAncora commented on #196
@lingruby-pl @admin-lm
Don't worry, it is not a problem that can compromise the functionality of Atom. I take care of the problem with the following pull request. ;-)

You can continue to use the editor without fear, taking care to install the next atom-i18n update when it is available.

Have a good day. :-)

[2018-12-19 16:19] #196 closed

[2018-12-19 16:22] liuderchi commented on #196
thanks for all your contribution and it's released as __v0.16.3__

[2018-12-28 08:19] Henry2o1o opened #208 "settings.json"
...

[2019-01-07 10:40] strandlife opened #209 "persian translation"
Please help translate: .

locale code: `fa`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2019-01-17 20:30] ujdhesa commented on #122
I apologise for not being able to see what was going on here.  Closing this, as https://github.com/liuderchi/atom-i18n/pull/210# should address it.

[2019-01-17 20:30] #122 closed

[2019-01-18 09:15] #197 closed

[2019-01-21 10:33] p2635 commented on #81
Can you assign this to me, thanks? I want to try.

[2019-01-21 14:17] liuderchi commented on #81
@p2635 Thanks for your help 🎉
Please read [`CONTRIBUTING.md`](//github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md) for more details and AMA here 👍

[2019-01-21 15:11] p2635 commented on #81
Thanks, I have started some work on https://github.com/p2635/atom-i18n/tree/eo

[2019-01-22 10:06] p2635 commented on #81
Hi Derek,

I don't understand steps 2 and 3, can you explain a bit more?

    uninstall atom-i18n if you have installed
    change into the package directory you have forked and cloned
    use apm command to link the package to atom user directory

[2019-01-22 13:57] p2635 commented on #81
Basically step 2 is specific to the command line and what you mean is 'cd <your project directory>'. Now I understand.

[2019-01-26 15:32] liuderchi commented on #81
@p2635 Please ignore this since it's a known issue of about page

[2019-01-26 21:58] p2635 commented on #81
@liuderchi thanks. about.cson is done, the rest might take me longer as I am actually still a beginner in esperanto

[2019-01-27 00:19] liuderchi commented on #81
@p2635 thanks for your contribution 💯
It's welcome to create PR even it's not 100% translated.

[2019-01-29 17:22] p2635 commented on #81
I translated a few items in menu_win32.cson but they are not visible when I preview them... any ideas? I know that apm link works because other context items show up. I also tried restarting but it doesn't work.

![default](https://user-images.githubusercontent.com/4522927/51926960-67a9a000-23ea-11e9-828f-5f9c98432d61.png)

[2019-01-29 17:23] p2635 commented on #81
I tried to preview some items but they're not showing? (I also tried restarting but it didn't work)

![default](https://user-images.githubusercontent.com/4522927/51927016-827c1480-23ea-11e9-81d8-cc61a230e561.png)

[2019-01-30 20:00] p2635 commented on #81
yes I am, i didn't just try menu_win32, I tried them all!

[2019-01-31 06:50] liuderchi commented on #81
@p2635 I forgot to remind: [`menu_win32.cson L2`](https://github.com/liuderchi/atom-i18n/blob/master/def/ja/menu_win32.cson#L2) should not be edited.

See [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md#translation-guide)

[2019-01-31 10:58] p2635 commented on #81
Thanks, I renamed it and it works now

[2019-02-19 18:16] PoorPocketsMcNewHold commented on #193
Sorry for the very late up for this issue. But here's the content of it.
![image](https://user-images.githubusercontent.com/13170204/53037576-df636b80-347a-11e9-824b-13893bedd1a4.png)
`Uncaught SyntaxError: missing ) after argument list`

[2019-02-21 04:10] Umeaboy opened #216 "Translate into Swedish"
Please help translate: .

locale code: `sv_SE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  -

[2019-02-21 06:50] liuderchi commented on #216
@Umeaboy Thanks for caring about Swedish i18n 💯
Accordgin to [locale code table](http://www.science.co.il/language/Codes.php) can we use code `sv`?

[2019-02-21 06:52] liuderchi commented on #193
@PoorPocketsMcNewHold looks like you missed final `)` when you pasted it

[2019-02-21 11:23] PoorPocketsMcNewHold commented on #193
Missed that indeed, Sorry.
So, I've done it again, and the results is false.
[code]

[2019-02-21 23:34] Umeaboy commented on #216
Correct me if I'm wrong, but isn't sv meant to be for the Finnish part of Sweden?

There are sv for Finnish Swedes and sv_SE for Swedish people.

[2019-02-21 23:37] Umeaboy commented on #216
http://www.localeplanet.com/icu/sv-SE/index.html

[2019-02-22 14:13] liuderchi commented on #216
@Umeaboy Thanks for sharing.
Is it acceptable to use lower cases code `sv-se` for Sweden Swedish which is consistent with `zh-tw`?

[2019-02-22 15:11] Umeaboy commented on #216
Sure!

Den 2019-02-22 kl. 15:13, skrev TC Liu:

[2019-02-25 12:39] mkyo2012 opened #217 "Translate into Vietnamese"
Please help translate: .

locale code: `vi`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2019-02-25 13:21] #217 closed

[2019-02-25 13:25] mkyo2012 opened #218 "Translate into Vietnamese"
Please help translate: .

locale code: `vi`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2019-03-09 08:23] PoorPocketsMcNewHold commented on #193
Again updating that issue.
I've since changed my main OS on my computer, to Ubuntu Studio 18.10, and so, reinstalled atom from fresh, on an entirely new system, not on a windows environment.
And look at that ! Still the same issue !
The results is still false however.

[2019-03-27 08:59] VladStelin commented on #153
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/about.cson

[2019-03-27 10:17] kslabs commented on #153
Это что значит?

ср, 27 мар. 2019 г. в 10:59, VladStelin <notifications@github.com>:

--

Best Regards,
Sergej Kalinin

(◕‿◕) 🔝
Site: www.techaid.online
Skype: mars5148
Telegram: https://t.me/Sergej_Kalinin
Viber: +380675779011

[2019-03-31 00:24] sashaoli opened #219 "Ukrainian"
Please help translate: .

locale code: `uk`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/uk/about.cson`
  - `def/uk/context.cson`
  - `def/uk/menu_darwin.cson`
  - `def/uk/menu_linux.cson`
  - `def/uk/menu_win32.cson`
  - `def/uk/settings.cson`
  - `def/uk/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2019-03-31 12:33] sashaoli commented on #219
Майже все локалізовано українською мовою.
Almost everything is localized in Ukrainian
No problem. Previous post is false. Sorry, I'm the first time on GitHab.

[2019-04-02 17:20] sashaoli commented on #219
### :exclamation: Що, я, роблю не правильно:question: What, I do wrong:question:
[code]
### :exclamation: Як уникнути цієї помилки:question: How to avoid this error:question:

[2019-04-04 07:42] sashaoli commented on #219
Dear @liuderchi, I finished translating all the files and made validation. The "uk" branch.
If this is interesting to you and the community then I ask to open access to the repository. Thanks.
Шановний @liuderchi, я закінчив переклад усіх файлів та здійснив валідацію. Гілка "uk".
Якщо це, Вам і спільноті, цікаво то прошу відкрити доступ до репозиторію. Дякую.

[2019-04-04 19:24] sashaoli commented on #219
I'm starting to understand a bit about GitHub.
Again, sorry.

[2019-04-04 23:45] liuderchi commented on #219
@sashaoli Really thanks for your contribution!
there is also an issue #101 discussing about Ukrainian translation

[2019-04-05 20:57] Senseyka0 opened #221 "Failed to activate the atom-i18n package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.35.1 x64
**Electron**: 2.0.18
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.18.0

### Stack Trace

Failed to activate the atom-i18n package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-04-06 09:51] liuderchi commented on #221
@Senseyka0 Please help run this command on terminal for more debug info

[code]

Also, how do you install atom-i18n package?

[2019-04-09 12:35] RealA10N opened #223 "Translate into Hebrew"
Please help translate:

locale code: `he`
[locale code table](https://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/he/about.cson`
  - `def/he/context.cson`
  - `def/he/menu_darwin.cson`
  - `def/he/menu_linux.cson`
  - `def/he/menu_win32.cson`
  - `def/he/settings.cson`
  - `def/he/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/li

[2019-04-09 17:03] RealA10N opened #224 "Hebrew translation"
Please help translate:

locale code: `he`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/he/about.cson`
  - `def/he/context.cson`
  - `def/he/menu_darwin.cson`
  - `def/he/menu_linux.cson`
  - `def/he/menu_win32.cson`
  - `def/he/settings.cson`
  - `def/he/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liu

[2019-04-11 10:02] liuderchi commented on #224
@RealA10N [atom-i18n v0.20](https://atom.io/packages/atom-i18n) has released and please try it 🎉

[2019-04-12 06:14] RealA10N opened #227 "The description text in the 'System Settings' is not translated"
The description text of the system settings is not translated, even when the text is translated in the `settings.cson` file (in my example, Hebrew - This issue occurs with every language I have checked.)
https://github.com/liuderchi/atom-i18n/blob/ce49c3cde549642e66ee66444c82f94dec076bb8/def/he/settings.cson#L421-L424
![image](https://user-images.githubusercontent.com/23400213/56015563-2266f000-5d

[2019-05-04 06:55] B1NAR10 opened #228 "Translate into Galician"
Please help translate: .

locale code: `gl`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/gl/about.cson`
  - `def/gl/context.cson`
  - `def/gl/menu_darwin.cson`
  - `def/gl/menu_linux.cson`
  - `def/gl/menu_win32.cson`
  - `def/gl/settings.cson`
  - `def/gl/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/l

[2019-05-11 13:58] Kattnienika commented on #188
Hello,

I (Galastea company) will finish the translation into Czech language. :-)

[2019-05-11 17:33] liuderchi commented on #188
@Kattnienika Thank you! Really looking forward to it!

[2019-06-21 13:57] liuderchi opened #231 "Slovak i18n"
Please help translate: Slovak

locale code: `sk`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/sk/about.cson`
  - `def/sk/context.cson`
  - `def/sk/menu_darwin.cson`
  - `def/sk/menu_linux.cson`
  - `def/sk/menu_win32.cson`
  - `def/sk/settings.cson`
  - `def/sk/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.

[2019-07-20 09:27] nashumo commented on #221
For Windows 7 x 32bits.
I got the same issue.
In Atom Packages, I updated the atom-i18n to a newest and it was solved.
Hope it helps.

[2019-07-27 08:19] themakerman commented on #31
Hey, i can work on this. Will it be still helpful?

[2019-07-27 09:33] liuderchi commented on #31
@themakerman Definitely it is! Thanks for your help 🙏
Please refer to [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md) and let me know if you found any difficulties.

[2019-07-28 18:28] #218 closed

[2019-07-29 12:21] themakerman commented on #31
Can u help me assign the status to dev in progress for hindi localization?

[2019-07-30 16:48] liuderchi commented on #31
@themakerman OK~

[2019-08-16 14:23] TheGiga commented on #153
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/about.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/context.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/menu_darwin.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/menu_linux.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/menu_win32.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/settings.cson
def/ВВЕДИТЕ_МЕСТОПОЛОЖЕНИЕ_ЗДЕСЬ/welcome.cson

[2019-08-17 01:48] Qbreak opened #234 "Please Turkish Add"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2019-08-17 16:52] liuderchi commented on #234
@Qbreak thanks for caring about Turkish translation!
Please refer to #83, thank you!

[2019-08-17 16:52] #234 closed

[2019-08-24 09:46] themakerman commented on #31
Work in progress:
- [] def/hi/about.cson
- [x] def/hi/context.cson
- [ ] def/hi/menu_darwin.cson
- [ ] def/hi/menu_linux.cson
- [ ] def/hi/menu_win32.cson
- [ ] def/hi/settings.cson

[2019-08-24 12:42] liuderchi commented on #31
@themakerman thanks for your help!
Just feel free to create PR at your pace.

[2019-09-01 02:02] JakiChen opened #237 "Help translate the shortcut menu , about tab and welcome guide ~"
**Please help translate:**

Atom latest `version 1.40.1` , locale code: `zh-cn`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/zh-cn/about.cson`
<img width="709" alt="QQ20190901-095035@2x" src="https://user-images.githubusercontent.com/3423524/64070829-3ce43a80-cc9e-11e9-97bd-adfc10c3030b.png">

  - `def/zh-cn/context.cson`
<img width="281" a

[2019-09-06 07:51] LevMartus50 opened #238 "Uncaught Error: ENOENT: no such file or directory, chdir ''"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.40.1 x64
**Electron**: 3.1.10
**OS**: Mac OS X 10.13.6
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.21.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, chdir ''

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-09-13 03:44] osmanoz1 opened #239 "Turkish Language"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2019-09-13 12:38] lecastro opened #240 "Is the translation 100% complete?"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2019-09-13 12:43] lecastro opened #241 "Is the translation 100% complete?"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2019-09-13 12:48] lecastro commented on #240
s

[2019-09-13 12:53] #240 closed

[2019-10-05 00:25] Umeaboy opened #242 "I want to help translate atom into Swedish"
Please help translate: .

locale code: `sv_SE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/sv_SE/about.cson`
  - `def/sv_SE/context.cson`
  - `def/sv_SE/menu_darwin.cson`
  - `def/sv_SE/menu_linux.cson`
  - `def/sv_SE/menu_win32.cson`
  - `def/sv_SE/settings.cson`
  - `def/sv_SE/welcome.cson`

* for more info please checkout [CONTRIBUTING.

[2019-10-07 06:07] liuderchi commented on #239
@osmanoz1 Thanks for caring about turkish i18n!
Please refer to #83 since it has more information, thank you!

[2019-10-07 06:07] #239 closed

[2019-10-07 06:14] liuderchi commented on #242
@Umeaboy Thanks for caring Swedish translation!
Please refer to #216 for more info. Feel free to discuss if you have any questions.

[2019-10-07 06:14] #242 closed

[2019-10-07 06:15] liuderchi commented on #216
@Umeaboy Please read through https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md before you start translation, thank you!

[2019-10-07 06:19] liuderchi commented on #241
@lecastro Thanks for caring pt-BR i18n.
Yes you're right, pt-BR is NOT 100% complete compared with latest atom release.
The translation progress is referencing atom version v1.22 (https://github.com/liuderchi/atom-i18n/blob/41e1c8c49a22e596635b25454f4e2648ff81f989/spec/config.js#L11)

Please feel free to contribute pt-BE translation, thank you!

[2019-10-07 06:21] liuderchi commented on #238
@LevMartus50 thanks for your report.
Just want to understand how you reproduce it.

Does this issue happen when you're dispatching command `python-runner:executePy` ?

[2019-10-10 20:28] lecastro commented on #241
ok

[2019-10-18 18:32] Dr-Yukon commented on #153
да вы наркоманы. **ENTER_LOCALE_HERE = ru**
def/ENTER_LOCALE_HERE/about.cson означает файл def/ru/about.cson то есть https://github.com/liuderchi/atom-i18n/blob/master/def/ru/about.cson

[2019-11-27 19:11] lamboley opened #252 "Translate French"
Please help translate: .

locale code: `fr`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/fr/menu_win32.cson`

* for more info please checkout [CONTRIBUTING.md](https://github.com/liuderchi/atom-i18n/blob/master/CONTRIBUTING.md)

[2019-12-30 06:07] sachinsshetty opened #254 "Translate Kannada (kn)"
Please help translate: .

locale code: `kn`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `de

[2020-01-03 18:40] tiberiufrat opened #259 "Translate romanian"
Please help translate: Romanian

locale code: `ro`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ro/about.cson`
  - `def/ro/context.cson`
  - `def/ro/menu_darwin.cson`
  - `def/ro/menu_linux.cson`
  - `def/ro/menu_win32.cson`
  - `def/ro/settings.cson`
  - `def/ro/welcome.cson`

* for more info please checkout [CONTRIBUTING.md](https://githu

[2020-01-04 18:29] MarcoGnu5916 opened #260 "Uncaught The "path" argument must be of type string. Received type undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.42.0 x64
**Electron**: 4.2.7
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.22.0

### Stack Trace

Uncaught The "path" argument must be of type string. Received type undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-03-19 19:25] Bortechino commented on #153
atom-i18n/def/ru/menu_linux.cson
`Lines:
        value: "Линии"

Not `"Линии" but "Строки".
Lines  can be translate "Линии" in means "lines as in geometry", but "Строки" in means "lines of text"  or "lines of code".

[2020-03-19 19:47] Bortechino commented on #153
atom-i18n/def/ru/welcome.cson

There is no such word as Хакабельный in Russian. The best translation for "hackable" is "гибкий".

"Guides" much better Руководства

[2020-03-21 15:02] Dr-Yukon commented on #153
permissible as a pun

but the best here is "настраиваемый"

[2020-03-22 11:35] Bortechino commented on #153
Но едва ли допустимо с точки зрения серьезного прожекта ))

"Настраиваемый" слишком расплывчато, тогда уж лучше "легко настраиваемый".

[2020-03-25 15:26] themakerman commented on #31
Hi @liuderchi localisation is finally done. Would be grateful if you take a look at it and merge :).
Had one of the contributors: https://github.com/ankitbulchandani to help me out as well.

Thanks

[2020-03-27 02:09] themakerman commented on #31
@liuderchi Also was wondering if i should PR for updating of contributors page and removing 'I can translate' for hi locale

[2020-03-27 04:14] liuderchi commented on #31
@themakerman I will do that when release, thanks!

[2020-03-27 07:41] themakerman commented on #31
Great @liuderchi Any updates on release schedule you can share? so that i can take a look at it in production package in atom?

[2020-03-27 15:12] liuderchi commented on #31
@themakerman atom-i18n has [released `0.23.0` with Hindi support](https://atom.io/packages/atom-i18n), please go check it out! Thanks for your contribution!

[2020-03-27 15:14] #31 closed

[2020-03-29 13:43] TheMedicus opened #267 "Turkish"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/setting

[2020-04-09 05:23] sachinsshetty commented on #254
completed translation for

- def/kn/about.cson
- def/kn/context.cson
- def/kn/settings.cson
- def/kn/welcome.cson
changes done in
[kn patch2](https://github.com/liuderchi/atom-i18n/pull/268)

Pending changes in menu files for
- def/kn/menu_darwin.cson
- def/kn/menu_linux.cson
- def/kn/menu_win32.cson

[2020-05-07 05:25] arcturusannamalai opened #270 "Provide Tamil interface for Atom Editor - தமிழ் இடைமுகம்"
Please help translate: Atom Editor to Tamil (தமிழ்) language.

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cso

[2020-05-20 15:08] atriwidada commented on #177
any progress on this? I also interested to help translate

[2020-05-20 16:02] liuderchi commented on #177
@lorenzadam have you started to translate any content yet?
@atriwidada is also interested to join!

[2020-05-21 16:35] liuderchi commented on #267
@TheMedicus thanks for mention Turkish translation!
please refer to #83 for more detail, thanks!

[2020-05-21 16:35] #267 closed

[2020-05-23 15:53] #224 closed

[2020-05-23 15:54] #252 closed

[2020-05-24 15:32] esvikey opened #273 "Failed to load atom-i18n"
What's the problem?
Atom ver. 1.47.0

[2020-05-24 17:37] GabrielBdeC opened #274 "PT-BR"
I revised the files to translate to pt-br. Unfortunately, there are some parts that aren't in the files to translate in def/pt-br.

How can I get the "original" file with all the tiles to translate?

I can show here the parts that aren't translated. Also, I'll submit the changes soon.

[2020-05-27 14:18] #273 closed

[2020-08-05 18:30] mohataher commented on #28
Are there any work left to be done on this issue? Shouldn't this issue be closed after the merge?

[2020-08-06 07:48] atefBB commented on #28
Translation reviewed https://github.com/liuderchi/atom-i18n/pull/279

[2020-09-04 07:21] Thaza-Kun opened #284 "Translate to Malay"
Please help translate: .

locale code: ms
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/menu_win32.cson`
  - `def/ENTER_LOCALE_HERE/settings.cson`
  - `def/

[2020-09-16 17:57] RomanChumakov commented on #153
Hello!
I'm new to contributing and I don't understand why this issue is still open. All files are already translated...
There are several corrections in the comments above. All that is needed is to correct the translations? Can I do it or should the authors of the translations do it?

[2020-10-01 20:27] LyaKich opened #286 "Error"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.51.0 x64
**Electron**: 5.0.13
**OS**: Unknown Windows version
**Thrown From**: 'simplified-russian-menu' package vundefined

### Stack Trace

Uncaught TypeError: Cannot read property 'sectionHeadings' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2020-10-17 15:03] polynoman commented on #286
Hey, if I am correct, this issue is caused by the 'simplified-russian-menu' package. It has been reported a number of times there:
https://github.com/CappuccinoRU/atom-simplified-russian-menu/issues

You read the stack trace from the bottom to the top, and at the top is where the error happened, which is the other package.

[2020-10-17 15:12] polynoman commented on #192
Here the english translation of the title: "cannot set the German language. How does that work? I have downloaded the german version. I want to set the language before every program."

Is this actually an issue we can solve?

[2020-10-17 18:04] polynoman commented on #208
I think the error arises, because the "URI - Handling" Settings are new and kind of replaced "System" Settings, like in an array, now containing the value of it.

For the "URI - Handling Settings", the translations are missing completely.

[2020-10-17 18:56] polynoman commented on #149
This seems to be done by your PR, maybe close it? Your last point is not related to this project.

[2020-11-07 22:20] #78 closed

[2020-12-03 11:10] abilogos opened #291 "I Want to Translate to The Persian Language"
I want to translate to persian language:
https://en.wikipedia.org/wiki/Persian_language

locale code: `per`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:
  - `def/ENTER_LOCALE_HERE/about.cson`
  - `def/ENTER_LOCALE_HERE/context.cson`
  - `def/ENTER_LOCALE_HERE/menu_darwin.cson`
  - `def/ENTER_LOCALE_HERE/menu_linux.cson`
  - `def/ENTER_LOCALE_HERE/me

[2020-12-20 03:59] liuderchi commented on #192
@polynoman I think we cannot. This package is capable of translating settings page, top menu bar items.
https://github.com/liuderchi/atom-i18n/blob/master/spec/config.js

[2020-12-28 16:04] abilogos commented on #209
i am translating to Persian

[2021-01-21 13:05] renovate[bot] opened #295 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:05] #295 closed

[2021-02-22 19:54] abilogos commented on #291
merged in [PR 292](https://github.com/liuderchi/atom-i18n/pull/292)

[2021-02-22 19:54] #291 closed

[2021-03-20 12:31] juggernautjp opened #297 "Can not localize Welcome-view"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-03-21 07:59] liuderchi commented on #297
@juggernautjp Thanks for your contribution! Your fix has been published in `v0.25.1`
https://atom.io/packages/atom-i18n

[2021-03-21 07:59] #297 closed

[2021-03-24 18:10] juggernautjp opened #299 "Can not localize Packages-menu and GitHub sub-menus in View-menu"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-03-29 05:38] juggernautjp opened #301 ":fix: [Fix] fix a bug of not localized "About Atom" view"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-04-19 11:27] akd1989 opened #308 "Error no escapulado: ENOENT, node_modules/typescript\lib\lib.d.ts no se encuentra en ~\AppData\Local\atom\ap..."
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.56.0 x64
**Electron**: 9.4.4
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.25.3

### Stack Trace

Uncaught Error: ENOENT, node_modules\typescript\lib\lib.d.ts not found in C:\Users\Ak D\AppData\Local\atom\app-1.56.0\resources\app.asar

[code]

### Commands

[code]

### Non-Core

[2021-06-11 17:54] RayStray opened #318 "Translate to Urdu"
Please help translate: Urdu

locale code: `ur`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:

- `def/ur/about.cson`
- `def/ur/context.cson`
- `def/ur/menu_darwin.cson`
- `def/ur/menu_linux.cson`
- `def/ur/menu_win32.cson`
- `def/ur/settings.cson`
- `def/ur/welcome.cson`

* for more info please checkout
  [CONTRIBUTING.md](https://github.com/liuderchi

[2021-06-18 11:02] juggernautjp opened #319 "Can not localize "Welcome Guide" and "Telemetry Consent" views"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-06-19 16:07] juggernautjp opened #321 ""Context Menu" is not localized."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-08-16 20:33] Chepexz opened #324 "Uncaught Error: EISDIR: illegal operation on a directory, read"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.58.0 x64
**Electron**: 9.4.4
**OS**: Unknown Windows version
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.26.0

### Stack Trace

Uncaught Error: EISDIR: illegal operation on a directory, read

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-08-30 09:27] renovate[bot] opened #325 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Other Branches

These updates are pending. To force PRs open, click the checkbox below.

 - [ ] chore(deps): update dependency glob-parent to 5.1.2 [security]
 - [ ] chore(deps): update dependency path-parse to 1.0.7 [security]

## Open

These updates have

[2021-11-26 14:20] moln4rvilmos opened #329 "Uncaught TypeError: Cannot set property 'textContent' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.41.0 x64
**Electron**: 4.2.7
**OS**: macOS 11.6.1
**Thrown From**: [atom-i18n](https://github.com/liuderchi/atom-i18n) package 0.26.1

### Stack Trace

Uncaught TypeError: Cannot set property 'textContent' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2022-01-20 20:50] ArtemMikhailovich opened #330 "русский"
Please help translate: .

locale code: `ENTER_LOCALE_HERE`
[locale code table](http://www.science.co.il/language/Codes.php)

files Required translation:

- `def/ENTER_LOCALE_HERE/about.cson`
- `def/ENTER_LOCALE_HERE/context.cson`
- `def/ENTER_LOCALE_HERE/menu_darwin.cson`
- `def/ENTER_LOCALE_HERE/menu_linux.cson`
- `def/ENTER_LOCALE_HERE/menu_win32.cson`
- `def/ENTER_LOCALE_HERE/settings.cson`
- `

[2022-08-08 09:05] #97 closed